<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>Welcome {{name}} - Your SessionID : {{sId}}</h1>
    <h2>Password: {{user.pass}}</h2>
    <a href="/">Back to Home page!</a>
    <br>
    <a href="/logout">Logout</a>
</body>
</html>